<h2>User info</h2>
  <table>
    <tbody>
      <tr>
        <th>名前</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>自己紹介</th>
        <th><%= current_user.introduction %></th>
      </tr>
      <tr>
        <td><%= link_to "edit", current_user %></td>
      </tr>
    </tbody>
  </table>
<h2>New book</h2>
<%= form_with model: @books, url: "/books", method: :post do |f| %>

  <div class="field">
    <p>本のタイトル</p>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <p>感想</p>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit "投稿" %>
  </div>
<% end %>
<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>画像</th>
      <th>名前</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.get_profile_image(100, 100) %></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", user_path(user) %></td>
    </tr>
    <% end %>
  </thead>
</table>
