<div class="errors">
  <% if @book.errors.any? %>
    <h3><%= @book.errors.count %>件のエラーが発生しました。</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <h2>User info</h2>
      <table>
        <tbody>
          <tr>
            <td><%= image_tag current_user.get_profile_image(100, 100) %></td>
          </tr>
          <tr>
            <th>名前</th>
            <th><%= current_user.name %></th>
          </tr>
          <tr>
            <th>自己紹介</th>
            <th><%= current_user.introduction %></th>
          </tr>
          <tr>
            <td><%= link_to edit_user_path(current_user.id) %>
              <i class="fa-solid fa-user-gear"></i>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<div class="container">
  <div class="col-lg-4">
    <%= render 'list', books: @books %>
</div>
<!-- ここからindexの右側のページ -->
<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th>本のタイトル</th>
      <th>感想</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td><%= image_tag book.user.get_profile_image(100,100) %></td>
      <td><%= link_to book.title, book_path(book) %></td>
      <td><%= book.body %></td>
    </tr>
    <% end %>
  </tbody>
</table>

