<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/7035d8ece7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-dark text-white mb-3 ">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto d-flex align-items-center">
            <h4>
              <%= link_to "Bookers", root_path, class: "text-white text-decoration-none" %>
            </h4>
          </div>
            <ul class="list-unstyled list-inline mb-0 pt-3">
            <% if user_signed_in? %>
              <li class="list-inline-item">
                <%= link_to user_path(current_user.id), class: "text-white text-decoration-none" do %>
                  <p class="mr-1"><i class="fa-solid fa-home mr-1"></i>Home</p>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to users_path, class: "text-white text-decoration-none" do %>
                  <p class="mr-1"><i class="fa-solid fa-users mr-1"></i>Users</p>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to books_path, class: "text-white text-decoration-none" do %>
                  <p class="mr-1"><i class="fa-solid fa-book-open mr-1"></i>Books</p>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "text-white text-decoration-none" do %>
                  <p class="mr-1"><i class="fa-solid fa-right-from-bracket mr-1"></i>Log out</p>
                <% end %>
              </li>
            <% else %>
              <li class="list-inline-item">
                <%= link_to root_path, class: "text-white text-decoration-none" do %>
                  <p class="mr-1"><i class="fa-solid fa-home mr-1 "></i>Home</p>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to about_path, class: "text-white text-decoration-none" do %>
                  <p class="mr-1"><i class="fa-solid fa-link mr-1 "></i>About</p>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to new_user_registration_path, class: "text-white text-decoration-none" do %>
                  <p class="mr-1"><i class="fa-solid fa-user-plus mr-1 "></i>Sign up</p>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to user_session_path, class: "text-white text-decoration-none" do %>
                  <p class="mr-1"><i class="fa-solid fa-right-to-bracket mr-1 "></i>Log in</p>
                <% end %>
              </li>
            <% end %>
            </ul>
        </div>
      </div>
    </header>

    <div>
      <%= flash[:notice] %>
    </div>
    <main>
      <%= yield %>
    </main>
    <footer class="bg-light mt-5">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
