<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <script src="https://kit.fontawesome.com/7035d8ece7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div>
        <a href="/"><h4>Bookers</h4></a>
      </div>
      <% if user_signed_in? %> <!-- linkは点なし、縦並びから横並びに変更 -->
        <li>
          <%= link_to "Home", '/users/index' %> <!-- /users/indexに移行するpath -->
        </li>
        <li>
          <%= link_to "Users", users_path %>
        </li>
        <li>
          <%= link_to "Books", books_path %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %> <!-- linkは点なし、縦並びから横並びに変更 -->
        <li>
          <%= link_to "Home", top_path %> <!-- rootに設定してるsignin/signupの画面 -->
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in", user_session_path %>
        </li>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>

</html>
